source https://api.nuget.org/v3/index.json
framework: netcoreapp2.1

nuget FSharp.Core
nuget FSharp.Data.GraphQL.Server beta
nuget Microsoft.AspNetCore.Http
nuget Microsoft.AspNetCore.WebSockets
nuget Newtonsoft.Json
nuget Expecto
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.AspNetCore.App
nuget Giraffe
nuget System.Reactive >= 4.1.5

group Build
    source https://api.nuget.org/v3/index.json

    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.DotNet.Paket
