source https://api.nuget.org/v3/index.json
frameworks: netcoreapp2.2, netstandard2.0

nuget FSharp.Core
nuget FSharp.Data.GraphQL.Server beta
nuget Microsoft.AspNetCore.Http
nuget Microsoft.AspNetCore.WebSockets
nuget Newtonsoft.Json
nuget Expecto
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.AspNetCore.App
nuget Giraffe
nuget System.Reactive
nuget System.Reactive.Linq
nuget System.Reactive.Interfaces

group Build
    source https://api.nuget.org/v3/index.json

    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.DotNet.Paket
    nuget Fake.Core.ReleaseNotes
